@use "pages";
@use "components";
@use "modals";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.app {
  text-align: center;
  margin: 0 auto;

  .offcanvas .offcanvas-bottom {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
  }
}
