@use "../../variables";

.form {
  margin-top: 2em;
  text-align: left;

  .form--container {
    margin-bottom: 1.5em;
  }

  .form--error-hint {
    font-size: 13.5px;
    color: variables.$danger;
    line-height: 1.1;
    display: block;
    margin-top: 5px;
  }
}
