@use "../../../../variables";

.way-getting-delivery-select {
  padding: 0;

  .list-item {
    list-style: none;
  }

  .list-item--btn {
    border: 0;
    background: transparent;
    display: grid;
    gap: 5px;
    grid-template-columns: 15px 1fr;
    align-items: center;
    text-align: left;
  }

  .list-item--icon {
    width: 15px;
  }

  .list-item--title {
    margin: 0;
    line-height: 1.2;
  }

  .way-getting-delivery-select--btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .btn--icon {
      width: 15px;
    }
  }

  .select-field {
    grid-template-columns: 20px 1fr;
  }
}
