@use "../../../../variables";

.way-getting-selected-address {
  text-align: left;
  margin: 5px 0;
  padding: 0;

  .list--item {
    display: grid;
    align-items: center;
    grid-template-columns: 12px 1fr minmax(25px, 50px);
    gap: 5px;
    margin-bottom: 5px;

    .item--icon {
      width: 12px;
    }

    .item--title {
      line-height: 1.2;
    }
  }
}
