@use "../../../../variables";

.way-getting {
  margin: 15px 0;
  padding: 5px;
  background: variables.$light-gray;
  border-radius: 10px;

  .way-getting--header {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }

  .way-getting--control-btn {
    padding: 5px 10px;
    border-radius: 100rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25;
    color: variables.$gray;
    min-width: 125px;
    border: none;

    &.active {
      background: variables.$white;
      border: 1px solid variables.$light-gray;
      color: variables.$black;
    }
  }

  .way-getting--content {
    padding: 5px;
  }

  .way-getting-content--control {
    margin-top: 10px;
    border-top: 1px solid variables.$gray;
  }

  .way-getting-content--button {
    display: grid;
    align-items: center;
    grid-template-columns: 12px 1fr;
    gap: 5px;
    border: none;
    background: none;
    padding: 7.5px 0 2.5px 0;
    color: variables.$gray;
    width: 100%;
    text-align: left;

    .button--icon {
      color: inherit;
      width: 12px;
    }

    .button--title {
      color: inherit;
      margin: 0;
      font-weight: 500;
      font-size: 15px;
    }
  }
}
