@use "../../variables";

.select-property-answer {
  &.selected {
    .select-property-answer--price {
      background: variables.$white;
      color: variables.$black;
    }
  }

  .select-property-answer--price {
    background: variables.$white;
    color: variables.$black;
    border-radius: 5px;
    padding: 5px;
    min-width: 65px;
    margin-left: auto !important;
    display: block;
  }
}
