@use "../../variables";

.select-property-answer {
  width: 100%;
  padding: 11px 14px;
  background: variables.$light-gray;
  color: variables.$black;
  border: none;
  border-radius: 10px;
  margin: 14px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 20px 1fr minmax(65px, 100px);
  grid-gap: 10px;
  transition: color, background-color 0.15s, 0.15s;

  &.selected {
    background: variables.$black;
    color: variables.$white;

    .select-property-answer--field {
      background: variables.$green;
      border-color: variables.$green;

      .icon {
        opacity: 1;
      }
    }

    .select-property-item--price {
      background: variables.$white;
      color: variables.$black;
    }
  }

  .select-property-answer--field {
    width: 20px;
    height: 20px;
    background: variables.$white;
    border: 1px solid variables.$secondary;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s;

    &.radio {
      border-radius: 100px;
    }

    &.checkbox {
      border-radius: 5px;
    }

    .icon {
      width: 60%;
      opacity: 0;
      transition: opacity 0.1s;
    }
  }

  .select-property-answer--title {
    text-align: left;
    font-weight: 500;
    font-size: 13px;
    color: inherit;
    margin: 0;
  }

  .select-property-item--price {
    background: variables.$white;
    color: variables.$black;
    border-radius: 5px;
    padding: 5px;
    min-width: 65px;
    margin-left: auto !important;
    display: block;
  }
}
