@use "../variables";

.bottom-button {
  position: fixed;
  width: 100%;
  max-width: 768px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
  background: rgba(variables.$white, 0.97);
  padding: 10px;
  z-index: 10;

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 500px) {
    font-size: 16px;
  }

  &--content {
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }

  .btn {
    font-size: inherit;
    padding: 11.5px 0;
  }
}
