@use "../variables";

.select-field {
  width: 100%;
  padding: 11px 14px;
  background: variables.$light-gray;
  color: variables.$black;
  border: none;
  border-radius: 10px;
  margin: 14px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 20px 1fr minmax(65px, 100px);
  grid-gap: 10px;
  transition: color, background-color 0.15s, 0.15s;

  &.selected {
    background: variables.$azure;
    color: variables.$blue;

    .select-field--mark {
      background: variables.$blue;
      border-color: variables.$blue;

      .icon {
        opacity: 1;
      }
    }
  }

  .select-field--title {
    text-align: left;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    color: inherit;
    margin: 0;
  }
}
