@use "../../variables";

.select-property-quiz {
  .select-property-quiz--close-btn {
    background: variables.$black;
    color: variables.$white;
    top: 10px;
  }

  .select-property-quiz--next-btn {
    margin-top: 1.5em;
    width: 100%;
    color: variables.$white;
    background: variables.$green;
  }
}
