@use "../../variables";

.catalog-page {
  position: relative;
  padding: 1.5rem 0 5rem;

  .catalog-page--header {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: variables.$white;

    &:after {
      content: '';
      background-color: variables.$white;
      width: 120%;
      height: inherit;
      margin-left: -10%;
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  .catalog-page--body {}

  .catalog-page--control {
    position: fixed;
    width: 100%;
    bottom: 20px;
    left: 0;
    padding: 0 4%;
  }
}
