@use "../../variables";

.page--catalog {
  .catalog--header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: variables.$white;
    overflow-x: hidden;

    &:after {
      content: '';
      background-color: variables.$white;
      width: 120%;
      height: inherit;
      margin-left: -10%;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}
