@use "../../../variables";

.category-list {
    width: 100%;
    padding: 10px 0;
    background: variables.$white;

    .category-list--slide {
        width: fit-content;
        padding: 0 5px;
    }
}
