.product-category {
    position: relative;

    &:not(:first-of-type) {
        margin-top: 3rem;
    }

    &--title {
        display: block;
        text-align: left;
        font-size: 1.5rem;
    }

    &--container {
        display: grid;
        grid-gap: 2.5%;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0.5rem;
    }
}
