.product-category {
    position: relative;

    &:not(:first-of-type) {
        margin-top: 2rem;
    }

    &--title {
        display: block;
        text-align: left;
        font-size: 1.5rem;
    }

    &--container {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5%;
    }

    .product-card {
        margin-top: 1rem;
    }


    @media (min-width: 768px) {
        &--container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2%;
        }
    }
}
