@use "../../../variables";

.basket-product-options {
  font-size: 0.75rem;
  margin: 0.5rem 0 0;
  padding: 0;

  .options--item {
    font-size: inherit;
    list-style: none;
    margin-bottom: 2px;
  }
}
